{{- $author := site.Params.author -}}
{{- if site.Language.Params.author -}}
  {{- $author = site.Language.Params.author -}}
{{- end -}}
<div class="flex flex-col sm:flex-row items-center justify-center p-6 rounded-xl bg-neutral-100 dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 mt-10">
  <div class="shrink-0 mb-4 sm:mb-0 sm:me-6">
    <img src="/img/author.jpg" alt="Dài Líng Nà (黛灵娜)" class="w-24 h-24 rounded-full object-cover shadow-md nozoom" />
  </div>
  <div class="place-self-center text-center sm:text-left">
    <div class="text-[0.6rem] uppercase tracking-wider text-neutral-500 dark:text-neutral-400 font-bold">Autor</div>
    <div class="font-extrabold text-xl leading-6 text-neutral-800 dark:text-neutral-200 mt-0.5">Dài Líng Nà (黛灵娜)</div>
    <div class="text-sm text-neutral-600 dark:text-neutral-400 mt-2 max-w-prose">
      {{- $author.bio -}}
    </div>
  </div>
</div>