{{- $term := .Get "term" -}}
{{- $customDef := .Get "def" -}}
{{- $lang := .Site.Language.Lang -}}
{{- $definition := "" -}}

{{/* 1. Si pasaste una definición manual ("def"), úsala */}}
{{- if $customDef -}}
  {{- $definition = $customDef -}}

{{/* 2. Si no, busca en data/glosario/{lang}.json */}}
{{- else -}}
  {{- with index .Site.Data.glosario $lang -}}
    {{- with index . $term -}}
      {{- $definition = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* 3. Renderizado final con .Inner (el texto original envuelto) */}}
{{- if $definition -}}
<span class="iching-tooltip">{{ .Inner }}<span class="tooltip-text">{{ $definition | safeHTML }}</span></span>
{{- else -}}
  {{/* Si el término no existe, muestra la palabra igual pero con aviso */}}
<span class="iching-tooltip">{{ .Inner }}<span class="tooltip-text">Término no encontrado en el glosario.</span></span>
{{- end -}}